html{
    font-size: 100%;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 3em;
}

header{
    display: flex;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 4.1rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}


.upper{
    display: flex;
    gap: 8em;
}

.right-col{
   

}
.left-col{
    margin-top: 7em;
    width: 70%;
}

h1{
    font-size: 2.5rem;
    font-weight:normal ;
    margin: 0;

}