* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin-top: 2em;
    padding-left: 4em;
    padding-right: 3em;
}

header {
    display: flex;
    align-items: center;
    background-color: #FEF7F4;
    height: 5em;
    gap: 1em;
}

.logo {
    margin-left: 1em;
    width: 150px;
    height: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.logIn {
    background-color: #EB662B;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    padding: 0.5em 1em;
}

.upper {
    display: flex;
    gap: 3em;
    padding-left:1em;
}

.big-pic {
    width: 500px;
    height: 500px;
}

.sous-titre {
    font-size: 0.8rem;
    width: 28rem;
    line-height: 2;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    margin-top: 2em;
}


.sections{
    display: flex;
    gap: 2em;
    padding-bottom: 3.5em;
}

.sections img{
    margin-bottom:1rem ;
    padding-top: 1rem ;
   
}
.card1 ,.card2 ,.card3 ,.card4{
    flex: 1;
    line-height: 2em;
    width: 10em;
    font-size: 65%;
}

h3{
    padding-bottom: 2em;
}



footer {
    background-color: #FEF7F4;
    height: 13em;
    padding-top: 3em;
    font-size: 90%;
    padding-left: 8.5em;
   
}
.footer{
    line-height: 2.5em;
}




