* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin-top: 5em;
    margin-left: 6em;
    margin-right: 6em;
}

header {
    display: flex;
    align-items: center;
    background-color: #FEF7F4;
    height: 6em;
}

.logo {
    margin-left: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.logIn {
    background-color: #EB662B;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    padding: 0.5em 1em;
}

.upper {
    display: flex;
    gap: 3em;
}

.big-pic {
    width: 500px;
    height: 500px;
}

.sous-titre {
    font-size: 0.8rem;
    width: 28rem;
    line-height: 2.5;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

h4{
    margin-bottom: 3rem;
}

.sections{
    display: flex;
    gap: 2em;
   
}

.sections img{
    margin-bottom: 2rem ;
    padding-top: 2rem ;
   
}
.card1 ,.card2 ,.card3 ,.card4{
    flex: 1;
}



footer {
    background-color: #FEF7F4;
    list-style-type: none;
}

footer ul {
    text-decoration: none;
}
